h1{color: aqua;margin: 0 auto;margin-top: 30px;text-align: center;}
p{color: blueviolet;margin: 0 auto;margin-top: 50px;text-align: center;}

div{width: 600px;height: 800px;border: 1px solid mediumvioletred;margin: 0 auto;}